$font-family-montserrat: 'Montserrat';

@font-face {
  font-family: $font-family-montserrat;
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-family-montserrat;
  src: url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $font-family-montserrat;
  src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin font($weight: normal) {
  font-family: $font-family-montserrat;
  font-weight: $weight;
}

@mixin media($size) {
  @media screen and (max-width: #{$size}px) {
    @content;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #204959;
  padding: 150px 0;
  background-repeat: no-repeat;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
  position: relative;

  @include media(600) {
    padding: 50px 0 !important;
  }

  img {
    position: absolute;
    animation: animaton3000 1s ease;
    right: 0;

    @include media(700) {
      max-width: 300px;
    }

    @include media(500) {
      max-width: 250px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .flexy {
      display: flex;
      align-items: center;
      gap: 15px;

      .kavychki {
        opacity: 0.6;
      }

      a {
        color: var(--white, #FFF);
        font-size: 16px;
      }

      div {
        font-size: 20px;
        color: white;
      }
    }

    .man {
      color: white;
      font-size: 14px;
      @include font(700);
      border-radius: 10px;
      background: #3C6373;
      padding: 10px 15px;
      width: max-content;

      @include media(650) {
        font-size: 12px;
        padding: 7px 10px;
      }
    }

    z-index: 100;

    h2 {
      font-size: 40px;
      color: white;
      font-family: system-ui;

      @include media(650) {
        font-size: 30px;
      }

      @include media(450) {
        font-size: 20px;
      }
    }

    .neos {
      color: var(--white, #bcbcbc);
      font-size: 18px;
      max-width: 500px;

      @include media(650) {
        font-size: 15px;
      }

      @include media(650) {
        font-size: 12px;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 20px;

      @include media(650) {
        gap: 10px;
      }

      .fir {
        border-radius: 60px;
        background: #C7A48B;
        padding: 20px 45px;
        font-size: 18px;
        color: white;
        border: 1px solid #C7A48B;
        transition: .4s;
        cursor: pointer;
        z-index: 100;

        @include media(650) {
          padding: 10px 25px;
        }

        @include media(450) {
          font-size: 15px;
          @include font(500);
        }

        &:hover {
          border: 1px solid #000;
          background: transparent;
          scale: 0.95;
        }
      }

      .sec {
        @include media(650) {
          padding: 10px 25px;
        }

        a {
          font-size: 18px;
          color: white;

          @include media(450) {
            font-size: 15px;
            @include font(500);
          }
        }

        cursor: pointer;
        scale: 0.95;
        transition: .4s;
        border-radius: 60px;
        background: transparent;
        padding: 20px 45px;
        border: 1px solid #000;

        &:hover {
          border: 1px solid #C7A48B;
          background: #C7A48B;
          scale: 1;
        }
      }
    }
  }
}

@keyframes animaton3000 {
  from {
    transform: translateX(500px) translateY(500px);
  }

  to {
    transform: translateX(0) translateY(0);

  }
}

.helcome {
  background: #E6ECED;
  translate: 0 -33px;
  z-index: -100;
  border-radius: 0 0 40px 40px;

  .container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .dodenski {
      color: var(--title, #131414);
      @include font(500);
      font-size: 18px;
      max-width: 1000px;
      width: 100%;
      margin: auto;

      @include media(1000) {
        font-size: 15px;
      }
    }

    .tist {
      display: flex;
      justify-content: center;
      align-self: center;
      gap: 30px;
      flex-direction: column;

      .pist {
        color: var(--title, #131414);
        max-width: 1000px;

        @include media(1200) {
          font-size: 15px;
        }

        @include media(700) {
          font-size: 12px;
        }

        @include media(400) {
          font-size: 11px;
        }

        font-size: 18px;
      }

    }

    .wilcome {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;

      .hir {
        color: var(--title, #131414);
        @include font(700);

        @include media(1000) {
          font-size: 12px;
        }

        @include media(700) {
          font-size: 11px;
        }

        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .woe {
        color: #217191;
        @include font(700);

        @include media(1200) {
          font-size: 30px;
        }

        @include media(700) {
          font-size: 25px;
        }

        @include media(400) {
          font-size: 22px;
        }

        font-size: 35px;
        text-transform: capitalize;
      }
    }
  }
}

.whyus {
  margin-top: 170px;

  @include media(700) {
    margin-top: 70px;
  }
}

.tana {
  @include media(875) {
    display: none !important;
  }
}

.atop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 70px;

  a {
    color: var(--white, #FFF);
    @include font(500);
    border-radius: 60px;
    background: var(--dark-green, #217191);
    padding: 20px 45px;
    transition: 0.26s;

    @include media(550) {
      border-radius: 30px !important;
      padding: 10px 25px !important;
      font-size: 15px !important;
      @include font(400);
      flex-wrap: nowrap !important;
      display: flex !important;
      text-align: center !important;
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    font-size: 18px;
  }

  .vtu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

    p {
      color: var(--title, #131414);
      @include font(700);
      font-size: 14px;

      @include media(500) {
        font-size: 12px;
      }

      text-transform: uppercase;
    }

    h2 {
      color: var(--title, #131414);
      font-size: 35px !important;
      @include font(700);
      text-transform: capitalize;

      @include media(700) {
        font-size: 28px !important;
      }

      @include media(500) {
        font-size: 25px !important;
      }

      @include media(400) {
        font-size: 20px !important;
      }

      span {
        color: var(--dark-green, #217191);
        font-size: 35px !important;
        @include font(700);
        text-transform: capitalize;

        @include media(700) {
          font-size: 28px !important;
        }

        @include media(500) {
          font-size: 25px !important;
        }

        @include media(400) {
          font-size: 20px !important;
        }
      }
    }
  }
}

.asix {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;

  .avon {
    display: flex;
    flex-direction: column;
    gap: 15px;

    img {
      max-width: 70px;
    }

    h3 {
      color: var(--title, #131414);
      font-size: 25px;
      @include font(700);
      text-transform: capitalize;
    }

    p {
      color: var(--title, #131414);
      font-size: 18px;
      max-width: 300px;
    }
  }
}

.secret-mission {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .wrapper {
    position: relative;

    .pop {
      opacity: 0.2;
      position: absolute;
      transform: translateY(-50%) translateX(-50%);
      top: 50%;
      left: 50%;

      @include media(800) {
        max-width: 700px;
      }

      @include media(700) {
        max-width: 600px;
      }

      @include media(600) {
        max-width: 500px;
      }

      @include media(500) {
        display: none;
      }
    }

    .container {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0;

      @include media(1553) {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 30px 0;

        .lop {
          order: -1;
        }
      }

      overflow: hidden;

      .project {
        color: var(--title, #131414);
        max-width: 400px;

        @include media(1000) {
          font-size: 15px;
        }

        @include media(400) {
          font-size: 12px;
        }

        font-size: 18px;
      }

      .lop {
        max-width: 360px;

        @include media(500) {
          max-width: 260px;
        }

        @include media(350) {
          max-width: 200px;
        }
      }

    }
  }
}

.values {
  margin-top: 100px;

  @include media(650) {
    margin-top: 20px;
  }

  .container {
    display: flex;
    gap: 100px;

    @include media(1447) {
      gap: 50px;
    }

    @include media(1384) {
      gap: 20px;
    }

    @include media(1347) {
      flex-direction: column;
      align-items: center;
    }

    .balshimg {
      max-width: 528px;

      @include media(600) {
        max-width: 400px;
      }

      @include media(500) {
        max-width: 370px;
      }

      @include media(450) {
        max-width: 300px;
      }

      @include media(400) {
        max-width: 250px;
      }
    }

    align-items: center;
    flex-wrap: wrap;

    .postal {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: start;

      .postals {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
        padding: 15px 30px;
        max-width: 550px;
        width: 100%;

        @include media(500) {
          padding: 10px;
        }

        transition: .35s;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background: #E7ECF6;
        }

        .out {
          color: var(--text, #494B51);
          @include font(500);
          font-size: 20px;

          @include media(700) {
            font-size: 18px;
          }

          @include media(500) {
            font-size: 16px;
          }
        }

        .pout {
          color: var(--text, #494B51);
          max-width: 470px;

          @include media(1000) {
            font-size: 15px;
          }

          @include media(800) {
            font-size: 13px;
          }

          @include media(500) {
            font-size: 12px;
          }

          font-size: 16px;
          line-height: 32px;

          @include media(700) {
            font-size: 15px;
          }

          @include media(500) {
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.whowe {
  margin-top: 150px;

  @include media(1350) {
    margin-bottom: 100px;
  }

  .wrapper {

    border-radius: 40px;
    background: #EDF1F2;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 150px 0;
      gap: 50px;
    }
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include media(1650) {
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include media(600) {
    gap: 10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 30px;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;

    @include media(650) {
      gap: 15px;
      padding: 20px;
    }

    .imisa {
      color: var(--title, #131414);
      text-align: center;
      @include font(500);
      font-size: 25px;
      text-transform: capitalize;

      @include media(600) {
        font-size: 20px;
      }
    }

    .role {
      color: #AAA;
      text-align: center;
      @include font(500);
      font-size: 14px;
      text-transform: uppercase;

      @include media(600) {
        font-size: 12px;
      }
    }

    .who {
      color: var(--title, #131414);
      text-align: center;
      font-size: 18px;
      max-width: 330px;

      @include media(600) {
        font-size: 15px;
      }
    }

    img {
      max-width: 110px;

      @include media(600) {
        max-width: 60px;
      }
    }
  }
}

.howhelp {
  margin-top: 100px;

  @include media(550) {
    margin-top: 50px;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
    .content {
      display: flex;
      flex-direction: column;
      gap: 50px;

      &-slava {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .tikst {
          color: var(--text, #494B51);
          max-width: 500px;

          @include media(800) {
            font-size: 16px;
          }

          @include media(500) {
            font-size: 14px;
          }

          @include media(400) {
            font-size: 13px;
          }

          font-size: 18px;
          font-weight: 500;
        }
        .ukraine{
          color: var(--title, #131414);
           @include font(700);
           @include media(800){
            font-size: 15px;
           }
           @include media(500){
            font-size: 14px;
           }
           @include media(400){
            font-size: 13px;
           }
            font-size: 16px;
        }
      }

      .stand {
        color: var(--text, #494B51);
        @include font(700);

        @include media(1200) {
          font-size: 33px;
        }

        @include media(800) {
          font-size: 30px;
        }

        @include media(500) {
          font-size: 25px;
        }

        @include media(400) {
          font-size: 23px;
        }

        font-size: 35px;
      }
    }

    .help {
      max-width: 450px;

      @include media(550) {
        max-width: 400px;
      }

      @include media(500) {
        max-width: 350px;
      }

      @include media(450) {
        max-width: 300px;
      }

      @include media(400) {
        max-width: 250px;
      }

      @include media(350) {
        max-width: 230px;
      }
    }
  }
}
.ourclients {
  margin-top: 120px;

  .wrapper {
    border-radius: 40px;
    background: #EDF1F2;

    .container {
      display: flex;
      align-items: center;
      padding: 150px 0;
      gap: 120px;

      @include media(1220) {
        gap: 50px;
        flex-wrap: wrap;
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;

        .vut {
          color: var(--title, #131414);
          font-size: 18px;
          max-width: 500px;
        }

        .strelkas {
          display: flex;
          align-items: center;
          gap: 20px;

          .strelka {
            color: white;
            background-color: #C7A48B;
            width: 60px;
            height: 60px;
            display: flex;
            font-size: 30px;
            transition: .2s;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}

.svayper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 100%;
  max-height: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px 50px 30px;
  gap: 50px;
}

.suayper {
  background: rgba(179, 200, 205, 0.21) !important;
}

.moyswiper {
  width: 100%;
}

.loli {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    max-width: 50px;
  }

  .lol {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .lo {
      color: #C2C2C2;
      font-size: 14px;
    }

    .imis {
      color: var(--title, #131414);
      text-align: center;
      @include font(500);
      font-size: 18px;
    }
  }
}

.loram {
  color: var(--title, #131414);
  font-size: 16px;
  max-width: 350px;

  @include media(1000) {
    font-size: 13px;
  }
}
.wrapper {
  border-radius: 40px;
  background: #c6edff;
}